@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1vw;
  font-weight: 200;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2vw;
}

h2 {
  font-size: 1.7vw;
}

h3 {
  font-size: 1.5rem;
}

section,
article,
main,
header,
footer,
img nav,
aside {
  display: block;
}

@font-face {
  font-family: "SDSwagger"; /* 폰트 명 */
  font-style: normal; /* 폰트 스타일 설정 */
  font-weight: 100; /* 폰트 투께 */
  src: url("../font/SDSwaggerTTF.eot"); /* IE9 미만 */
  src: local("SDSwaggerTTf"), url("../font/SDSwaggerTTF.eot") format("embedded-opentype"), url("../font/SDSwaggerTTF.woff2") format("woff2"), url("../font/SDSwaggerTTF.woff") format("woff"), url("../font/SDSwaggerTTF.ttf") format("truetype");
}
@font-face {
  font-family: "TmonMonsori";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Tium";
  src: url("../font/Tium.eot");
  src: url("Tium.eot?#iefix") format("embedded-opentype"), url("../font/Tium.woff2") format("woff2"), url("../font/Tium.woff") format("woff"), url("../font/Tium.ttf") format("truetype"), url("../font/Tium.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

section {
  padding-top: 156px;
  width: 100%;
  height: 100vh;
}

.my-info {
  position: relative;
  margin-top: 8%;
  width: 75%;
  height: 65vh;
  background-color: #fec929;
  border: 5px solid #000;
  transform: translateX(35%);
  border-radius: 15px;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.3843137255);
}

button {
  cursor: pointer;
}

/*============header===============*/
header {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 60%;
  position: fixed;
  height: 156px;
  z-index: 999;
}
header .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .flex-box .gnb {
  display: flex;
}
header .flex-box .gnb li {
  margin-left: 30px;
}
header .flex-box .gnb li a {
  font-size: 193.75%;
  font-family: "Tium";
  color: #fff;
  line-height: 156px;
  position: relative;
}
header .flex-box .gnb li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
header .flex-box .gnb li a:hover::after {
  top: 100%;
  width: 100%;
  opacity: 1;
}

/*=========main=============*/
section.title {
  position: relative;
}
section.title video {
  position: absolute;
  height: 150%;
  top: 0;
  z-index: -1;
}
section.title h2 {
  color: #fff;
  text-shadow: 0px 0px 7px #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 5vw;
  font-family: "Tium";
  line-height: 1.3em;
}

section.about-me {
  padding-top: 0;
}
section.about-me .sublist-slidebox {
  position: relative;
}
section.about-me .sublist-slidebox .sub-list {
  position: fixed;
  left: 5%;
  top: 50%;
  background-color: #ddd;
  z-index: 1;
  transform: translateY(-50%);
}
section.about-me .slide-box {
  width: 400%;
}
section.about-me .slide-box .flex-box {
  display: flex;
  justify-content: space-between;
}
section.about-me .slide-box .flex-box .info {
  padding-top: 156px;
  width: 100%;
  height: 100vh;
}
section.about-me .slide-box .flex-box .info:first-child {
  background: url(../image/about-bg.png) bottom no-repeat;
  background-size: cover;
}
section.about-me .slide-box .flex-box .info:first-child h2 {
  color: #fff;
  font-family: "SDSwagger";
  -webkit-text-stroke: 1px #000;
  position: absolute;
  left: -40%;
  font-size: 9vw;
  z-index: 1;
  margin-top: 5%;
}
section.about-me .slide-box .flex-box .info:first-child h2::after {
  content: "";
  left: 0;
  top: 90%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 5px solid #000;
}
section.about-me .slide-box .flex-box .info:first-child .content-box {
  position: absolute;
  left: 0;
  padding: 5%;
  margin: 25% 10%;
  width: 80%;
  background-color: #666;
  border: 5px solid #000;
  z-index: 2;
}
section.about-me .slide-box .flex-box .info:first-child h3 {
  position: relative;
  color: #fff;
  font-family: "TmonMonsori";
  -webkit-text-stroke: 5px #000;
  -webkit-text-stroke: 0;
  font-size: 1.8vw;
  z-index: 3;
  background-color: #666;
}
section.about-me .slide-box .flex-box .info:first-child ul {
  position: relative;
  z-index: 3;
  background-color: #666;
}
section.about-me .slide-box .flex-box .info:first-child ul li {
  color: #fff;
  font-size: 1.5vw;
  font-weight: bold;
  margin-top: 2%;
}
section.about-me .slide-box .flex-box .info:first-child button {
  left: 0;
  top: 80%;
  position: absolute;
  background: none;
  border: 0;
}
section.about-me .slide-box .flex-box .info:nth-child(2) {
  background: url(../image/about-bg2.png);
}
section.about-me .slide-box .flex-box .info:nth-child(2) h2 {
  position: absolute;
  top: 5%;
  left: -30%;
  color: #fff;
  font-family: "TmonMonsori";
  -webkit-text-stroke: 5px #000;
  font-size: 5vw;
  z-index: 2;
}
section.about-me .slide-box .flex-box .info:nth-child(2) h2::after {
  content: "";
  left: -20%;
  top: 100%;
  position: absolute;
  width: 150%;
  height: 10%;
  background-color: #fff;
  border: 5px solid #000;
}
section.about-me .slide-box .flex-box .info:nth-child(2) h3 {
  background-color: #666;
  color: #fff;
  width: 80%;
  font-size: 2vw;
  font-family: "TmonMonsori";
}
section.about-me .slide-box .flex-box .info:nth-child(3) {
  background: url(../image/about-bg2.png);
}
section.about-me .slide-box .flex-box .info:nth-child(3) h2 {
  position: absolute;
  top: 5%;
  left: -30%;
  color: #fff;
  font-family: "TmonMonsori";
  -webkit-text-stroke: 5px #000;
  font-size: 5vw;
  z-index: 2;
}
section.about-me .slide-box .flex-box .info:nth-child(3) h2::after {
  content: "";
  left: -20%;
  top: 100%;
  position: absolute;
  width: 150%;
  height: 10%;
  background-color: #fff;
  border: 5px solid #000;
}
section.about-me .slide-box .flex-box .info:nth-child(3) h3 {
  background-color: #666;
  color: #fff;
  width: 80%;
  font-size: 2vw;
  font-family: "TmonMonsori";
}
section.about-me .slide-box .flex-box .info:nth-child(4) {
  background: url(../image/about-bg2.png);
}
section.about-me .slide-box .flex-box .info:nth-child(4) h2 {
  position: absolute;
  top: 5%;
  left: -30%;
  color: #fff;
  font-family: "TmonMonsori";
  -webkit-text-stroke: 5px #000;
  font-size: 5vw;
  z-index: 2;
}
section.about-me .slide-box .flex-box .info:nth-child(4) h2::after {
  content: "";
  left: -20%;
  top: 100%;
  position: absolute;
  width: 150%;
  height: 10%;
  background-color: #fff;
  border: 5px solid #000;
}
section.about-me .slide-box .flex-box .info:nth-child(4) h3 {
  background-color: #666;
  color: #fff;
  width: 80%;
  font-size: 2vw;
  font-family: "TmonMonsori";
}

.skills {
  background: url(../image/skill-bg.png) no-repeat center bottom;
  background-size: cover;
}
.skills .flex-box {
  display: flex;
  justify-content: space-between;
}
.skills .flex-box h2 {
  color: #fff;
  font-family: "SDSwagger";
  -webkit-text-stroke: 1px #000;
  font-size: 8vw;
}
.skills .flex-box button {
  background: none;
  border: 0;
}
.skills hr {
  border: 5px solid #000;
  padding: 0.5%;
  background-color: #fff;
  margin: 1% 0 3% 0;
}
.skills .skills-info {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  border: 5px solid #000;
  padding: 8% 3%;
  border-radius: 15px;
  box-shadow: 15px 15px rgba(0, 0, 0, 0.5254901961);
}
.skills .skills-info button {
  background: none;
  border: 0;
  cursor: pointer;
}
.skills .skills-info .slide-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 258px;
  overflow: hidden;
  grid-column-gap: 5%;
  align-items: center;
}
.skills .skills-info .slide-box li {
  margin: 0 auto;
}/*# sourceMappingURL=index.css.map */