@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: yoon-a-yoonche, sans-serif;
  font-weight: 200;
  font-style: normal;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

section,
article,
main,
header,
footer,
img nav,
aside {
  display: block;
}

@font-face {
  font-family: "SDSwagger"; /* 폰트 명 */
  font-style: normal; /* 폰트 스타일 설정 */
  font-weight: 100; /* 폰트 투께 */
  src: url("../font/SDSwaggerTTF.eot"); /* IE9 미만 */
  src: local("SDSwaggerTTf"), url("../font/SDSwaggerTTF.eot") format("embedded-opentype"), url("../font/SDSwaggerTTF.woff2") format("woff2"), url("../font/SDSwaggerTTF.woff") format("woff"), url("../font/SDSwaggerTTF.ttf") format("truetype");
}
@font-face {
  font-family: "TmonMonsori";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Tium";
  src: url("../font/Tium.eot");
  src: url("Tium.eot?#iefix") format("embedded-opentype"), url("../font/Tium.woff2") format("woff2"), url("../font/Tium.woff") format("woff"), url("../font/Tium.ttf") format("truetype"), url("../font/Tium.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

section {
  padding-top: 156px;
  width: 100%;
  height: 100vh;
}

.yellow-box {
  position: absolute;
  right: 0;
  width: 70%;
  background-color: #fec929;
  border: 5px solid #000;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.3843137255);
  margin-top: 5%;
}

button {
  cursor: pointer;
}

/*============header===============*/
header {
  width: 100%;
  max-width: 1280px;
  height: 156px;
  z-index: 999;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
header .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 30px 10px;
}
header .flex-box .hambuger-btn {
  display: block;
  width: 40px;
  right: 20%;
}
header .flex-box .hambuger-btn div {
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin-top: 10px;
}
@media all and (min-width: 768px) {
  header .flex-box .hambuger-btn {
    display: none;
  }
}
header .flex-box .menu-box {
  display: none;
  background-color: rgb(56, 127, 189);
  padding: 5% 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
}
@media all and (min-width: 768px) {
  header .flex-box .menu-box {
    position: static;
    display: block;
    background: none;
    width: auto;
    height: auto;
  }
}
header .flex-box .menu-box .hambuger-btn {
  margin-left: 30px;
}
@media all and (min-width: 768px) {
  header .flex-box .menu-box .hambuger-btn {
    display: none;
  }
}
header .flex-box .menu-box .gnb {
  margin-top: 100px;
}
@media all and (min-width: 768px) {
  header .flex-box .menu-box .gnb {
    margin-top: 0;
    display: flex;
  }
}
header .flex-box .menu-box .gnb li {
  padding: 15px 30px;
  position: relative;
  border-bottom: 5px solid #fff;
}
@media all and (min-width: 768px) {
  header .flex-box .menu-box .gnb li {
    padding: 0;
    margin-right: 30px;
    border: 0;
  }
}
header .flex-box .menu-box .gnb li a {
  position: relative;
  z-index: 2;
  font-size: 1.9375rem;
  font-family: "Tium";
  color: rgb(255, 255, 255);
  transition: all 0.5s ease-in-out;
}
header .flex-box .menu-box .gnb li::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: #fff;
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
}
@media all and (min-width: 768px) {
  header .flex-box .menu-box .gnb li::before {
    width: 0;
    height: 5px;
  }
}
header .flex-box .menu-box .gnb li:hover::before {
  width: 100%;
}
header .flex-box .menu-box .gnb li:hover a {
  color: rgb(56, 127, 189);
}
@media all and (min-width: 768px) {
  header .flex-box .menu-box .gnb li:hover a {
    color: #fff;
  }
}

/*=========main=============*/
.title {
  position: relative;
  overflow: hidden;
}
.title .title-bg {
  position: absolute;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 200%;
}
.title h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  font-family: "TmonMonsori";
  text-align: center;
  text-shadow: 15px 15px 15px rgba(102, 102, 102, 0.5490196078);
  line-height: 1.5em;
  color: #fff;
}
@media all and (min-width: 768px) {
  .title h2 {
    font-size: 5vw;
  }
}
@media all and (min-width: 1024px) {
  .title h2 {
    font-size: 4vw;
  }
}/*# sourceMappingURL=index.css.map */