@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: yoon-a-yoonche, sans-serif;
  font-weight: 200;
  font-style: normal;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1em;
}

section,
article,
main,
header,
footer,
img nav,
aside {
  display: block;
}

@font-face {
  font-family: "SDSwagger"; /* 폰트 명 */
  font-style: normal; /* 폰트 스타일 설정 */
  font-weight: 100; /* 폰트 투께 */
  src: url("../font/SDSwaggerTTF.eot"); /* IE9 미만 */
  src: local("SDSwaggerTTf"), url("../font/SDSwaggerTTF.eot") format("embedded-opentype"), url("../font/SDSwaggerTTF.woff2") format("woff2"), url("../font/SDSwaggerTTF.woff") format("woff"), url("../font/SDSwaggerTTF.ttf") format("truetype");
}
@font-face {
  font-family: "TmonMonsori";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Tium";
  src: url("../font/Tium.eot");
  src: url("Tium.eot?#iefix") format("embedded-opentype"), url("../font/Tium.woff2") format("woff2"), url("../font/Tium.woff") format("woff"), url("../font/Tium.ttf") format("truetype"), url("../font/Tium.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@keyframes updown {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40%);
  }
  to {
    transform: translateY(0);
  }
}
.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

section {
  padding-top: 156px;
  width: 100%;
  height: 100vh;
}

button {
  cursor: pointer;
}

/* Header Styles */
header {
  width: 100%;
  max-width: 1280px;
  height: 156px;
  z-index: 999;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
header .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 30px 10px;
}
header .flex-box .hambuger-btn {
  display: block;
  width: 40px;
  right: 20%;
}
header .flex-box .hambuger-btn div {
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin-top: 10px;
}
@media all and (min-width: 1024px) {
  header .flex-box .hambuger-btn {
    display: none;
  }
}
header .flex-box .menu-box {
  display: none;
  background-color: rgb(56, 127, 189);
  padding: 5% 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
}
@media all and (min-width: 1024px) {
  header .flex-box .menu-box {
    display: block;
    position: static;
    background: none;
    width: auto;
    height: auto;
  }
}
header .flex-box .menu-box .hambuger-btn {
  margin-left: 30px;
}
@media all and (min-width: 1024px) {
  header .flex-box .menu-box .hambuger-btn {
    display: none;
  }
}
header .flex-box .menu-box .gnb {
  margin-top: 100px;
}
@media all and (min-width: 1024px) {
  header .flex-box .menu-box .gnb {
    margin-top: 0;
    display: flex;
  }
}
header .flex-box .menu-box .gnb li {
  padding: 15px 30px;
  position: relative;
  border-bottom: 5px solid #fff;
}
@media all and (min-width: 1024px) {
  header .flex-box .menu-box .gnb li {
    padding: 0;
    margin-right: 30px;
    border: 0;
  }
}
header .flex-box .menu-box .gnb li a {
  width: 100%;
  position: relative;
  z-index: 2;
  font-size: 2em;
  font-family: "Tium";
  color: rgb(255, 255, 255);
  transition: all 0.5s ease-in-out;
}
@media all and (min-width: 1024px) {
  header .flex-box .menu-box .gnb li a {
    transition: none;
  }
}
header .flex-box .menu-box .gnb li::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: #fff;
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
}
@media all and (min-width: 1024px) {
  header .flex-box .menu-box .gnb li::before {
    width: 0;
    height: 5px;
  }
}
header .flex-box .menu-box .gnb li:hover::before {
  width: 100%;
}
header .flex-box .menu-box .gnb li:hover a {
  color: rgb(56, 127, 189);
}
@media all and (min-width: 1024px) {
  header .flex-box .menu-box .gnb li:hover a {
    color: #fff;
  }
}

/* Main Styles */
.title {
  position: relative;
  overflow: hidden;
}
.title .title-bg {
  position: absolute;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 200%;
}
.title h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  font-size: 10vw;
  font-family: "TmonMonsori";
  text-align: center;
  text-shadow: 15px 15px 15px rgba(102, 102, 102, 0.5490196078);
  line-height: 1.5em;
  color: #fff;
}
@media all and (min-width: 1024px) {
  .title h2 {
    font-size: 6vw;
  }
}
@media all and (min-width: 1024px) {
  .title h2 {
    font-size: 8vw;
  }
}
@media all and (min-width: 1600px) {
  .title h2 {
    font-size: 6vw;
  }
}

/* About Me Styles */
section.about-me {
  width: 100%;
  padding: 0;
}
section.about-me .wrapper .sub-list {
  position: fixed;
  width: 90%;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10%;
  z-index: 99;
  background-color: #fff;
  padding: 3% 2%;
  border-radius: 10px;
  border: 5px solid #000;
}
@media all and (min-width: 1600px) {
  section.about-me .wrapper .sub-list {
    width: max-content;
    display: block;
    border: 0;
    background: none;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
  }
}
section.about-me .wrapper .sub-list li {
  width: 100%;
  color: #fff;
  text-align: center;
}
section.about-me .wrapper .sub-list li:hover a::after {
  height: 100%;
}
@media all and (min-width: 1600px) {
  section.about-me .wrapper .sub-list li {
    list-style-position: inside;
    list-style: disc;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}
section.about-me .wrapper .sub-list li a {
  position: relative;
  font-size: 1.5em;
  font-family: "SDSwagger";
  color: #000;
}
section.about-me .wrapper .sub-list li a::after {
  content: "";
  width: 5px;
  height: 0;
  position: absolute;
  background-color: #000000;
  margin-left: 10px;
  transition: all 0.5s ease-in-out;
}
@media all and (min-width: 1600px) {
  section.about-me .wrapper .sub-list li a::after {
    background-color: #fff;
    width: 10px;
    bottom: 0;
  }
}
@media all and (min-width: 1600px) {
  section.about-me .wrapper .sub-list li a {
    color: #fff;
  }
}
section.about-me .slide-box .flex-box {
  width: 400%;
  display: flex;
  justify-content: space-between;
}
section.about-me .slide-box .flex-box .info {
  padding-top: 156px;
  width: 100%;
  height: 100vh;
  background: url(../image/about-bg.png) no-repeat bottom right;
  background-size: cover;
}
section.about-me .slide-box .flex-box .info .grid-box {
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-column-gap: 40px;
}
section.about-me .slide-box .flex-box .info .grid-box .about-title {
  position: relative;
}
section.about-me .slide-box .flex-box .info .grid-box .about-title h2 {
  position: absolute;
  top: 11vmin;
  width: max-content;
  color: #fff;
  font-family: "SDSwagger";
  -webkit-text-stroke: 1px #000;
  font-size: 20vmin;
}
@media all and (min-width: 1024px) {
  section.about-me .slide-box .flex-box .info .grid-box .about-title h2 {
    font-size: 8em;
  }
}
@media all and (min-width: 1600px) {
  section.about-me .slide-box .flex-box .info .grid-box .about-title h2 {
    font-size: 12em;
  }
}
section.about-me .slide-box .flex-box .info .grid-box .about-title h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  border: 5px solid #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 3;
}
section.about-me .slide-box .flex-box .info .grid-box .yellow-box {
  width: 100%;
  height: 90%;
  margin-top: 10vmin;
  background-color: #fec929;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(16, 16, 16, 0.6392156863);
  padding: 10% 3% 1% 10%;
  border: 5px solid #000;
}
section.about-me .slide-box .flex-box .info .grid-box .yellow-box .btn-area {
  width: 8%;
  position: absolute;
  right: 5%;
  top: 20%;
  transform: translateY(-20%);
  z-index: 4;
}
section.about-me .slide-box .flex-box .info .grid-box .yellow-box .btn-area button {
  width: 100%;
  height: max-content;
  background: none;
  border: 0;
}
section.about-me .slide-box .flex-box .info .grid-box .yellow-box .btn-area button:hover img:last-child {
  transform: translate(50%, 10%);
}
section.about-me .slide-box .flex-box .info .grid-box .yellow-box .btn-area button img {
  width: 100%;
}
section.about-me .slide-box .flex-box .info .grid-box .yellow-box .btn-area button img:first-child {
  left: 0;
  top: 0;
  transform: translateY(80%);
}
section.about-me .slide-box .flex-box .info .grid-box .yellow-box .btn-area button img:last-child {
  width: 80%;
  top: 0;
  left: 0;
  transform: translate(-30%, 10%);
  transition: all 0.5s ease-in-out;
}
section.about-me .slide-box .flex-box .info .grid-box .yellow-box .content-box {
  margin-top: 15%;
  position: relative;
  z-index: 3;
  padding: 3%;
  background-color: #666;
  border: 5px solid #000;
}
section.about-me .slide-box .flex-box .info .grid-box .yellow-box .content-box h3 {
  color: #fff;
  font-size: 5vmin;
  margin-bottom: 5%;
}
section.about-me .slide-box .flex-box .info .grid-box .yellow-box .content-box li {
  color: #fff;
  font-size: 3vmin;
  margin-top: 3vmin;
}
section.about-me .slide-box .flex-box .info .btn {
  position: absolute;
  bottom: 5%;
}
section.about-me .slide-box .flex-box .info .btn button {
  background: none;
  border: 0;
  transition: all 0.2s ease-in-out;
}
section.about-me .slide-box .flex-box .info .btn button:hover {
  opacity: 0.5;
}
section.about-me .slide-box .flex-box .info .btn button img {
  width: 100%;
  animation: updown 1s infinite;
}
section.about-me .slide-box .flex-box .info:nth-child(2) .about-title {
  position: relative;
  flex-direction: column;
  height: 100%;
}
section.about-me .slide-box .flex-box .info:nth-child(2) .about-title h2 {
  position: absolute;
  top: 7vmin;
  width: max-content;
  color: #fff;
  font-family: "SDSwagger";
  -webkit-text-stroke: 1px #000;
  font-size: 20vmin;
}
section.about-me .slide-box .flex-box .info:nth-child(2) .about-title h2::after {
  content: "";
  position: absolute;
  left: -20%;
  bottom: -10%;
  border: 5px solid #000;
  width: 120%;
  height: 10%;
  background-color: #fff;
  z-index: 3;
}
section.about-me .slide-box .flex-box .info:nth-child(2) .about-title img {
  position: absolute;
  left: 50%;
  width: 70%;
  bottom: 10%;
  transform: translateX(-50%);
}
section.about-me .slide-box .flex-box .info:nth-child(2) .yellow-box {
  width: 100%;
  min-height: 90%;
  margin-top: 10vmin;
  background-color: #fec929;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(16, 16, 16, 0.6392156863);
  padding: 0 4% 1% 10%;
  border: 5px solid #000;
}
section.about-me .slide-box .flex-box .info:nth-child(2) .yellow-box .content-box {
  position: relative;
  margin-top: 5%;
  margin-left: 5%;
  padding: 0;
  background: none;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 3;
}
section.about-me .slide-box .flex-box .info:nth-child(2) .yellow-box .content-box h3 {
  width: fit-content;
  color: #fff;
  font-size: 5vmin;
  margin-bottom: 5%;
  padding: 1%;
  border: 5px solid #000;
  background-color: #666;
}
section.about-me .slide-box .flex-box .info:nth-child(2) .yellow-box .content-box p {
  padding: 5%;
  background-color: #fff;
  border: 5px solid #000;
  font-size: 2.5vmin;
}
section.about-me .slide-box .flex-box .info:nth-child(2) .btn {
  position: absolute;
  bottom: -10%;
}
section.about-me .slide-box .flex-box .info:nth-child(2) .btn button {
  background: none;
  border: 0;
  transition: all 0.2s ease-in-out;
}
section.about-me .slide-box .flex-box .info:nth-child(2) .btn button:hover {
  opacity: 0.5;
}
section.about-me .slide-box .flex-box .info:nth-child(2) .btn button img {
  width: 100%;
  animation: updown 1s infinite;
}
section.about-me .slide-box .flex-box .info:nth-child(3) .about-title {
  position: relative;
  flex-direction: column;
  height: 100%;
}
section.about-me .slide-box .flex-box .info:nth-child(3) .about-title h2 {
  position: absolute;
  top: 7vmin;
  width: max-content;
  color: #fff;
  font-family: "SDSwagger";
  -webkit-text-stroke: 1px #000;
  font-size: 20vmin;
}
section.about-me .slide-box .flex-box .info:nth-child(3) .about-title h2::after {
  content: "";
  position: absolute;
  left: -20%;
  bottom: -10%;
  border: 5px solid #000;
  width: 120%;
  height: 10%;
  background-color: #fff;
  z-index: 3;
}
section.about-me .slide-box .flex-box .info:nth-child(3) .about-title img {
  position: absolute;
  left: 50%;
  width: 70%;
  bottom: 10%;
  transform: translateX(-50%);
}
section.about-me .slide-box .flex-box .info:nth-child(3) .yellow-box {
  width: 100%;
  min-height: 90%;
  margin-top: 10vmin;
  background-color: #fec929;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(16, 16, 16, 0.6392156863);
  padding: 0 4% 1% 10%;
  border: 5px solid #000;
}
section.about-me .slide-box .flex-box .info:nth-child(3) .yellow-box .content-box {
  position: relative;
  margin-top: 5%;
  margin-left: 5%;
  padding: 0;
  background: none;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 3;
}
section.about-me .slide-box .flex-box .info:nth-child(3) .yellow-box .content-box h3 {
  width: fit-content;
  color: #fff;
  font-size: 5vmin;
  margin-bottom: 5%;
  padding: 1%;
  border: 5px solid #000;
  background-color: #666;
}
section.about-me .slide-box .flex-box .info:nth-child(3) .yellow-box .content-box p {
  padding: 5%;
  background-color: #fff;
  border: 5px solid #000;
  font-size: 2.5vmin;
}
section.about-me .slide-box .flex-box .info:nth-child(3) .btn {
  position: absolute;
  bottom: -10%;
}
section.about-me .slide-box .flex-box .info:nth-child(3) .btn button {
  background: none;
  border: 0;
  transition: all 0.2s ease-in-out;
}
section.about-me .slide-box .flex-box .info:nth-child(3) .btn button:hover {
  opacity: 0.5;
}
section.about-me .slide-box .flex-box .info:nth-child(3) .btn button img {
  width: 100%;
  animation: updown 1s infinite;
}
section.about-me .slide-box .flex-box .info:nth-child(4) .about-title {
  position: relative;
  flex-direction: column;
  height: 100%;
}
section.about-me .slide-box .flex-box .info:nth-child(4) .about-title h2 {
  position: absolute;
  top: 7vmin;
  width: max-content;
  color: #fff;
  font-family: "SDSwagger";
  -webkit-text-stroke: 1px #000;
  font-size: 20vmin;
}
section.about-me .slide-box .flex-box .info:nth-child(4) .about-title h2::after {
  content: "";
  position: absolute;
  left: -20%;
  bottom: -10%;
  border: 5px solid #000;
  width: 120%;
  height: 10%;
  background-color: #fff;
  z-index: 3;
}
section.about-me .slide-box .flex-box .info:nth-child(4) .about-title img {
  position: absolute;
  left: 50%;
  width: 70%;
  bottom: 10%;
  transform: translateX(-50%);
}
section.about-me .slide-box .flex-box .info:nth-child(4) .yellow-box {
  width: 100%;
  min-height: 90%;
  margin-top: 10vmin;
  background-color: #fec929;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(16, 16, 16, 0.6392156863);
  padding: 0 4% 1% 10%;
  border: 5px solid #000;
}
section.about-me .slide-box .flex-box .info:nth-child(4) .yellow-box .content-box {
  position: relative;
  margin-top: 5%;
  margin-left: 5%;
  padding: 0;
  background: none;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 3;
}
section.about-me .slide-box .flex-box .info:nth-child(4) .yellow-box .content-box h3 {
  width: fit-content;
  color: #fff;
  font-size: 5vmin;
  margin-bottom: 5%;
  padding: 1%;
  border: 5px solid #000;
  background-color: #666;
}
section.about-me .slide-box .flex-box .info:nth-child(4) .yellow-box .content-box p {
  padding: 5%;
  background-color: #fff;
  border: 5px solid #000;
  font-size: 2.5vmin;
}
section.about-me .slide-box .flex-box .info:nth-child(4) .btn {
  position: absolute;
  bottom: -10%;
}
section.about-me .slide-box .flex-box .info:nth-child(4) .btn button {
  background: none;
  border: 0;
  transition: all 0.2s ease-in-out;
}
section.about-me .slide-box .flex-box .info:nth-child(4) .btn button:hover {
  opacity: 0.5;
}
section.about-me .slide-box .flex-box .info:nth-child(4) .btn button img {
  width: 100%;
  animation: updown 1s infinite;
}

/* Skills Styles */
.skills {
  background: url(../image/skill-bg.png) no-repeat center bottom;
  background-size: cover;
}
.skills .flex-box {
  display: flex;
  justify-content: space-between;
}
.skills .flex-box h2 {
  color: #fff;
  font-family: "SDSwagger";
  -webkit-text-stroke: 1px #000;
  font-size: 22vmin;
}
.skills .flex-box button {
  background: none;
  border: 0;
}
.skills hr {
  border: 5px solid #000;
  padding: 0.5%;
  background-color: #fff;
  margin: 1% 0 3% 0;
}
.skills .skills-info {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  border: 5px solid #000;
  padding: 8% 3%;
  border-radius: 15px;
  box-shadow: 15px 15px rgba(0, 0, 0, 0.5254901961);
}
.skills .skills-info button {
  background: none;
  border: 0;
  cursor: pointer;
}
.skills .skills-info .slide-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 10%;
  overflow: hidden;
  grid-column-gap: 5%;
  align-items: center;
}
.skills .skills-info .slide-box li {
  margin: 0 auto;
}
.skills .skills-info .slide-box li img {
  height: 100%;
}/*# sourceMappingURL=index.css.map */