@import "./reset.scss";
@import "./style.scss";
@import "./mixin.scss";

$header-px: 156px;

@keyframes updown {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40%);
    }
    to {
        transform: translateY(0);
    }
}


.wrapper {
    width: auto;
    max-width: $gird-size;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

body {
    position: relative;
    overflow: hidden;
    margin: 0;
}

main{
    position: relative;
    overflow: hidden;
}

section {
    position: relative;
    padding-top: $header-px;
    width: 100%;
    height: 100vh;
    height: calc(100vh - var(--vh, 0px)); /* 섹션의 높이를 화면 높이(100vh)로 설정 */
    overflow: hidden; /* 섹션 내에서 세로 스크롤 허용 */
}


button {
    cursor: pointer;
}

/* Header Styles */
header {
    width: 100%;
    max-width: $gird-size;
    height: $header-px;
    z-index: 99;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    .flex-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 30px 10px;

        .hambuger-btn {
            display: block;
            width: 40px;
            right: 20%;
            cursor: pointer;

            div {
                width: 100%;
                height: 5px;
                background-color: $white;
                margin-top: 10px;
            }

            @include responsive(notebook) {
                display: none;
            }
        }

        .menu-box {
            transition: all 0.3s ease-in-out;
            display: block;
            background-color: rgb(56, 127, 189);
            padding: 5% 0;
            position: absolute;
            z-index: 99999999999999;
            top: 0;
            right: -70%;
            width: 70%;
            height: 100vh;
            height: calc(100vh - var(--vh, 0px));

            @include responsive(notebook) {
                display: block;
                position: static;
                background: none;
                width: auto;
                height: auto;
            }

            .hambuger-btn {
                margin-left: 30px;

                @include responsive(notebook) {
                    display: none;
                }
            }

            .gnb {
                margin-top: 100px;

                @include responsive(notebook) {
                    margin-top: 0;
                    display: flex;
                }

                li {
                    padding: 15px 30px;
                    position: relative;
                    border-bottom: 5px solid #fff;

                    @include responsive(notebook) {
                        padding: 0;
                        margin-right: 30px;
                        border: 0;
                    }

                    a {
                        width: 100%;
                        position: relative;
                        z-index: 2;

                        font: {
                            size: 2em;
                            family: 'Tium';
                        }
                        text-shadow: 3px 3px #000;
                        color: #fff;
                        transition: all 0.5s ease-in-out;

                        @include responsive(notebook) {
                            transition: none;
                        }
                    }

                    &::before {
                        content: "";
                        width: 0;
                        height: 100%;
                        background-color: #fff;
                        z-index: 0;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: all 0.4s ease-in-out;

                        @include responsive(notebook) {
                            width: 0;
                            height: 5px;
                        }
                    }

                    &:hover::before {
                        width: 100%;
                    }

                    &:hover a {
                        color: rgb(56, 127, 189);

                        @include responsive(notebook) {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

/* Main Styles */
.title {
    position: relative;
    overflow: hidden;
    height: 100vh;
    height: calc(100vh - var(--vh, 0px));

    .title-bg {
        position: absolute;
        @include center-pos1();
        height: 200%;
    }

    h2 {
        @include center-pos2();
        width: 90%;

        font: {
            size: 2em;
            family: $hn-ko;
        }

        text: {
            align: center;
            shadow: 15px 15px 15px #6666668c;
        }

        line-height: 1.5em;
        color: $white;
        @include responsive(tablet) {
            font-size: 4em;
        }
        @include responsive(notebook) {
            font-size: 6em;
        }
    }
}

/* About Me Styles */
section.about-me {
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    .wrapper {
        .sub-list {
            position: fixed;
            width: 90%;
            top: 15%;
            left: 50%;
            transform: translate(-50%);
            display: grid;
            grid-template-columns: repeat(4, 1fr); 
            grid-column-gap: 10%;
            z-index: 4;
            background-color: $white;
            padding: 3% 2%;
            border-radius: 10px;
            border: 5px solid $black;
            @include responsive(notebook) {
                padding: 2%;
            }
            @include responsive(desktopLarge){
                width: max-content;
                display: block;
                border: 0;
                background: none;
                left: 3%;
                top: 50%;
                transform: translateY(-50%);
            }
            
            
            
            li {
                width: 100%;
                color: #fff;
                // list-style-position: inside;
                // list-style: disc;
                text-align: center;
                &:hover a::after{
                    height: 100%;
                }
                @include responsive(desktopLarge) {
                    list-style-position: inside;
                    list-style: disc;
                    font-size: 1.5em;
                    margin-bottom: 20px;
                }
                a {
                    position: relative;
                    font: {
                        size: 1.2em;
                        family: $hn-eng
                    }
                    color: $black;
                    @include responsive(tablet) {
                        font-size: 1.5em;
                    }
                    &::after{
                        content: '';
                        width: 5px;
                        height: 0;
                        position: absolute;
                        background-color: #000000;
                        margin-left: 10px;
                        transition: all 0.5s ease-in-out;
                        @include responsive(desktopLarge) {
                            background-color: #fff;
                            width: 10px;
                            bottom: 0;
                        }
                    }
                    @include responsive(desktopLarge) {
                        color: #fff;
                    }
                }
            }
        }
        .none{
            display: none;
        }
    }

    .slide-box {
        .flex-box {
            position: relative;
            width: 400%;
            display: flex;
            justify-content: space-between;

            .info {
                position: relative;
                padding-top: $header-px;
                width: (400% / 4);
                height: 100vh;
                height: calc(100vh - var(--vh, 0px));
                background: url(../image/about-bg.png) no-repeat bottom center;
                background-size:cover;
                transition: all 0.5s ease-in-out;

                .grid-box {
                    position: relative;
                    z-index: 2;
                    // display: grid;
                    // grid-template-columns: 3fr 9fr;
                    // grid-column-gap: 40px;
                    margin-top: 10vh;
                    display: flex;
                    flex-direction: column;
                    @include responsive(tablet) {
                        margin-top: 10%;
                        display: grid;
                        grid-template-columns: 3fr 9fr;
                        grid-column-gap: 40px;
                    }
                    @include responsive(tablet) {
                        margin-top: 5vh;
                    }
                    @include responsive(notebook) {
                        margin-top: 3vh;
                    }
                    @include responsive(desktopLarge) {
                        margin-top: -2%;
                        display: grid;
                        grid-template-columns: 3fr 9fr;
                        grid-column-gap: 40px;
                    }
                    .about-title {
                        position: relative;
                        margin: 0 auto;
                        @include responsive(tablet) {
                            width: 200%;
                        }

                        h2 {
                            // position: absolute;
                            // top: 11vmin;
                            width: max-content;
                            @include hn-eng();
                            font-size: 5em;
                            @include responsive(tablet) {
                                -webkit-text-stroke-width: 1px;
                                top: 11%;
                                position: absolute;
                                font-size: 10em;
                                left: 0;
                            }
                            @include responsive(desktop) {
                                top: 32%;
                                transform: translateY(-50%);
                                position: absolute;
                                left: 0;
                                font-size: 12em;
                            }

                            // 첫 번째 h2 요소에 대한 스타일
                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                // bottom: -100%;
                                bottom: -10%;
                                @include borderblack();
                                width: 100%;
                                // height: 100%;
                                height: 10%;
                                background-color: $white;
                                z-index: 3;
                                @include responsive(tablet) {
                                    bottom: -100%;
                                    height: 100%;
                                }
                            }
                        }
                    }

                    .yellow-box {
                        width: 100%;
                        height: 90%;
                        margin-top: 10%;
                        background-color: $skill-bg;
                        border-radius: 10px;
                        box-shadow: 10px 10px 5px #101010a3;
                        // padding: 10% 3% 1% 10%;
                        padding: 5%;
                        @include borderblack();
                        @include responsive(tablet) {
                            margin-top: 20%;
                            padding: 15% 3% 1% 10%;
                        }
                        @include responsive(notebook) {
                            margin-top: 9vh;
                            padding: 15% 3% 1% 10%;
                        }
                        @include responsive(desktop) {
                            margin-top: 15%;
                        }
                        @include responsive(desktopLarge) {
                            margin-top: 10%;
                        }
                        

                        .btn-area {
                            display: none;
                            width: 8%;
                            position: absolute;
                            right: 7%;
                            top: 20%;
                            transform: translateY(-20%);
                            z-index: 4;
                            @include responsive(tablet) {
                                display: block;
                                margin-top: 10%;
                            }
                            @include responsive(notebook) {
                                display: block;
                                margin-top: 5%;
                            }
                            button {
                                width: 100%;
                                height: max-content;
                                background: none;
                                border: 0;

                                &:hover img:last-child {
                                    transform: translate(50%, 10%);
                                }

                                img {
                                    width: 100%;
                                    &:first-child {
                                        left: 0;
                                        top: 0;
                                        transform: translateY(80%);
                                    }
                                    &:last-child {
                                        width: 80%;
                                        top: 0;
                                        left: 0;
                                        transform: translate(-30%, 10%);
                                        transition: all 0.5s ease-in-out;
                                    }
                                }
                            }
                        }

                        .content-box {
                            // margin-top: 15%;
                            position: relative;
                            z-index: 3;
                            padding: 3%;
                            background-color: #666;
                            @include borderblack();
                            @include responsive(tablet) {
                                margin-top: 20%;
                            }
                            @include responsive(notebook) {
                                margin-top: 15%;
                            }

                            h3 {
                                color: #fff;
                                // font-size: 5vmin;
                                font-size: 1.3em;
                                font-weight: 300;
                                margin-bottom: 5%;
                                @include responsive(tablet) {
                                    font-size: 2em;
                                    font-weight: 400;
                                    margin-top: 1%;
                                }
                                @include responsive(notebook) {
                                    font-size: 2.2em;
                                    margin-top: 1%;
                                }
                            }

                            li {
                                color: #fff;
                                // font-size: 3vmin;
                                font-size: 1em;
                                margin-top: 3vmin;
                                @include responsive(tablet) {
                                    font-size: 1.5em;
                                    margin-top: 1%;
                                }
                                @include responsive(notebook) {
                                    font-size: 1.6em;
                                    margin-top: 1%;
                                }
                            }
                        }
                    }
                }

                .btn {
                    position: absolute;
                    // bottom: 5%;
                    bottom: -20%;
                    left: 50%;
                    transform: translateX(-50%);
                    @include responsive(tablet) {
                        z-index: 9;
                        font-size: 1.5em;
                        margin-top: 1%;
                        transform: translate(0);
                        left: 10%;
                        bottom: 0%;
                    }

                    button {
                        background: none;
                        border: 0;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            opacity: 0.5;
                        }

                        img {
                            // width: 100%;
                            width: 50%;
                            animation: updown 1s infinite;
                            @include responsive(tablet) {
                                width: 100%;
                            }
                        }
                        
                    }
                }
                @for $i from 2 through 4 {
                    &:nth-child(#{$i}) {
                        .grid-box{
                            // margin-top: 12%;
                            margin-top: 12%;
                            @include responsive(tablet) {
                                margin-top: 20%;
                                height: 100%;
                            }
                            @include responsive(notebook) {
                                margin-top: 20vh;
                                height: 100%;
                            }
                            @include responsive(desktopLarge) {
                                margin-top: 24vh;
                                height: 100%;
                            }
                            .about-title {
                                width: 100%;
                                display: flex;
                                position: relative;
                                // flex-direction: column;
                                // height: 100%;
                                align-items: center;
                                @include responsive(tablet) {
                                    flex-direction: column;
                                    height: 100%;
                                }
    
                                h2 {
                                    // position: absolute;
                                    // top: 7vmin;
                                    width: max-content;
                                    @include hn-eng();
                                    // font-size: 20vmin;
                                    font-size: 5em;
                                    @include responsive(tablet) {
                                        -webkit-text-stroke-width: 1px;
                                        position: relative;
                                        left: 30%;
                                        top: 0;
                                        font-size:8em;
                                    }
                                    @include responsive(notebook) {
                                        top: -10%;
                                        font-size: 7em;
                                    }
                                    @include responsive(desktop) {
                                        font-size: 10em;
                                    }

                                    // 첫 번째 h2 요소에 대한 스타일
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        // left: -20%;
                                        // bottom: -10%;
                                        @include borderblack();
                                        // width: 120%;
                                        width: 100%;
                                        height: 10%;
                                        background-color: $white;
                                        z-index: 3;
                                        @include responsive(tablet) {
                                            left: -20%;
                                            bottom: -10%;
                                            width: 120%;
                                        }
                                    }
                                }
                                .img-box{
                                    display: flex;
                                    flex: 1;
                                    @include responsive(tablet) {
                                        display: block;
                                        flex:auto
                                    }
                                    img {
                                        // position: absolute;
                                        // left: 50%;
                                        // width: 60%;
                                            width: 40%;
                                            margin-left: 10%;
                                        // bottom: 10%;
                                        // transform: translateX(-50%);
                                        @include responsive(tablet) {
                                            position: absolute;
                                            left: 50%;
                                            transform: translateX(-50%);
                                            width: 70%;
                                            bottom: 20%;
                                        }
                                        @include responsive(notebook) {
                                            position: absolute;
                                            left: 50%;
                                            transform: translateX(-50%);
                                            width: 70%;
                                            bottom: 30%;
                                        }
                                    }
                                }
                            }
    
                            .yellow-box {
                                width: 100%;
                                min-height: 90%;
                                // margin-top: 10vmin;
                                background-color: $skill-bg;
                                border-radius: 10px;
                                box-shadow: 10px 10px 5px #101010a3;
                                // padding: 0 4% 1% 10%;
                                padding: 5%;
                                @include borderblack();
                                @include responsive(tablet) {
                                    padding: 0 4% 1% 10%;
                                    margin-top: 0;
                                    height: auto;
                                }
                                @include responsive(notebook) {
                                    padding: 0 4% 1% 10%;
                                    margin-top: -10%;
                                    height: auto;
                                }

                                .btn-area {
                                    top: 0;
                                    position: absolute;
                                    transform: translateY(0);
                                    @include responsive(notebook) {
                                        display: block;
                                        top: 0;
                                        margin-top: -5%;
                                    }
                                    button {
                                        width: 100%;
                                        height: max-content;
                                        background: none;
                                        border: 0;
        
                                        &:hover img:last-child {
                                            transform: translate(50%, 10%);
                                        }
        
                                        img {
                                            width: 100%;
                                            &:first-child {
                                                left: 0;
                                                top: 0;
                                                transform: translateY(80%);
                                            }
                                            &:last-child {
                                                width: 80%;
                                                top: 0;
                                                left: 0;
                                                transform: translate(-30%, 10%);
                                                transition: all 0.5s ease-in-out;
                                            }
                                        }
                                    }
                                }
    
                                .content-box {
                                    height: 100%;
                                    position: relative;
                                    // margin-top: 5%;
                                    // margin-left: 5%;
                                    padding: 0;
                                    background: none;
                                    border: 0;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: stretch;
                                    z-index: 3;
                                    @include responsive(tablet) {
                                        margin-top: 5%;
                                    }
                                    h3 {
                                        width: fit-content;
                                        color: #fff;
                                        // font-size: 5vmin;
                                        font-size: 1.5rem;
                                        margin-bottom: 5%;
                                        padding: 1%;
                                        @include borderblack();
                                        background-color: #666;
                                        @include responsive(tablet) {
                                            font-size: 2em;
                                        }
                                        @include responsive(notebook) {
                                            font-size: 2.2em;
                                        }
                                        @include responsive(desktop) {
                                            font-size: 3em;
                                        }
                                    }
    
                                    p {
                                        padding: 5%;
                                        background-color: $white;
                                        @include borderblack();
                                        // font-size: 2.5vmin;
                                        font-size: 1rem;
                                        max-height: 200px;
                                        overflow-y: auto;
                                        @include responsive(tablet) {
                                            margin-top: 10%;
                                            font-size: 1.5em;
                                            max-height: 14em;
                                        }
                                        @include responsive(notebook) {
                                            margin-top: 5%;
                                            overflow: visible;
                                            font-size: 1.2em;
                                        }
                                        @include responsive(desktop) {
                                            margin-top: 5%;
                                            overflow: visible;
                                            font-size: 1.5em;
                                        }
                                    }
                                }
                            }
                        }
                        .btn {
                            position: absolute;
                            // bottom: -10%;
                            bottom: -15%;
                            @include responsive(tablet) {
                                bottom: 0;
                            }
                            button {
                                background: none;
                                border: 0;
                                transition: all 0.2s ease-in-out;
        
                                &:hover {
                                    opacity: 0.5;
                                }
        
                                img {
                                    // width: 100%;
                                    width: 50%;
                                    animation: updown 1s infinite;
                                    @include responsive(tablet) {
                                        width: 80%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .corner-img{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: none;
        transition: all 0.5s ease-in-out;
        @include responsive(tablet){
            display: block
        }
        &:hover{
            transform: scale(1.5);
        }
    }
}

/* Skills Styles */
.skills {
    background: url(../image/skill-bg.png) no-repeat center right;
    background-size: cover;
    padding-top: 40%;
    @include responsive(tablet){
        padding-top: 20%
    }
    @include responsive(notebook){
        padding-top: 10%
    }

    .flex-box {
        @include flex();
        h2 {
            @include hn-eng();
            font-size: 6em;
            @include responsive(tablet){
                font-size: 10em;
                -webkit-text-stroke-width:  1px;
            }
            @include responsive(notebook){
                margin-top: 5vh;
                font-size: 8em;
                -webkit-text-stroke-width:  1px;
            }
        }

        button {
            background: none;
            border: 0;
            width: 20%;
            img{
                width: 100%
            }
            @include responsive(tablet){
                width: 10%
            }
        }
    }

    hr {
        @include borderblack();
        padding: 0.5%;
        background-color: $white;
        margin: 1% 0 3% 0;
    }

    .skills-info {
        position: relative;
        width: 100%;
        background-color: #fff;
        justify-content: space-between;
        border: 5px solid $black;
        @include responsive(notebook){
            width: 100%;
        }
        // padding: 3% 5%;
        border-radius: 15px;
        box-shadow: 15px 15px #00000086;
        align-items: center;
            .right-btn{
                width: 10%;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background: none;
                border: 0;
                @include responsive(tablet){
                    width: 5%;
                }
                @include responsive(notebook){
                    width: 4%;
                }
                img{
                    width: 100%;
                }
            }
            .left-btn{
                width: 10%;
                z-index: 9;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background: none;
                border: 0;
                @include responsive(tablet){
                    width: 5%;
                }
                @include responsive(notebook){
                    width: 4%;
                }
                img{
                    width: 100%;
                }
            }
            .skill-list{
                .img-box{
                    position: relative;
                    padding: 4%;
                    .chart{
                        position: absolute;
                        opacity: 0;
                        width: 130px;
                        height: 130px;
                        position: relative;
                        top: 10px;
                        left: 50%;
                        transform: translateX(-50%);
                        border-radius: 50%;
                        transition: all 0.1s ease-in-out;
                        @include responsive(tablet){
                            top: 11.5px;
                            width: 230px;
                            height: 230px;
                        }
                        @include responsive(notebook){
                            top: 15px;
                            width: 170px;
                            height: 170px;
                        }
                        @include responsive(tablet){
                            top: 11.5px;
                            width: 230px;
                            height: 230px;
                        }
                        span.center {
                            background: #fff;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            text-align: center;
                            line-height: 100px;
                            font-size: 17px;
                            font-weight: 400;
                            transform: translate(-50%, -50%); //가운데 위
                            @include responsive(tablet){
                                width: 170px;
                                height: 170px;
                                font-size: 25px;
                                line-height: 170px;
                            }
                            @include responsive(notebook){
                                width: 130px;
                                height: 130px;
                                font-size: 25px;
                                line-height: 130px;
                            }
                            @include responsive(desktop){
                                width: 170px;
                                height: 170px;
                                font-size: 25px;
                                line-height: 170px;
                            }
                        }
                    }
                    img{
                        height: 150px;
                        @include responsive(tablet){
                            height: 250px;
                        }
                        @include responsive(notebook){
                            height: 200px;
                        }
                        @include responsive(desktop){
                            height: 250px;
                        }
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                p{  
                    position: relative;
                    margin-top: 2vh;
                    left: 50%;
                    transform: translate(-50%);
                    width: 80%;
                    text-align: center;
                    font-size: 1.2em;
                    font-weight: 300;
                    @include responsive(notebook){
                        margin-top: 6vh;
                        width: 60%;
                    }
                    @include responsive(desktop){
                        margin-top: 2vh;
                        font-size: 1.5em;
                        width: 80%;
                    }
                }
                }
        }
        
        
        button{
            background: none;
            border: 0;
        }
    }


section.Portfoilo{
    background: url(../image/profile-bg.png) no-repeat center top;
    background-size: cover;
    overflow-x: hidden;
    overflow-y:visible;
    h2{
        position: relative;
        font-size: 5em;
        text-align: center;
        @include hn-eng();
        @include responsive(tablet) {
            text-align: left;
            font-size: 7em;
        }
        @include responsive(notebook) {
            font-size: 9em;
            margin-top: 5%;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 10%;
            background-color: #fff;
            bottom: -10%;
            left: 0;
            border: 3px solid #000;
        }
    }
    .flex-box{
        margin-top: 20%;
        @include responsive(tablet) {
            margin-top: 5%;
        }
        @include flex();
        .btn{
            position: relative;
            width: 45%;
            border: 3px solid #000;
            background-color: #fff;
            margin: 0 auto;
            padding: 3% 4%;
            align-items: center;
            border-radius: 15px;
            &:hover {
                background-color: #999
            }
            strong{
                @include hn-eng;
                font-size: 1.5em;
                -webkit-text-stroke-width: 1px;
                display: block;
                text-align: center;
                margin-bottom: 10%;
                @include responsive(tablet) {
                    font-size: 3em;
                    margin-top: 5%;
                }
            }
            div{
                width: 70%;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                @include responsive(tablet) {
                    width: 50%;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
    .everland {
        flex-direction: column;
        @include responsive(tablet){
            flex-direction: row;
        }
    }
}


section.pofol{
    background: url(../image/profile-bg.png) no-repeat center 25% ;
    background-size: cover;
    h2{
        @include hn-eng();
        font-size: 4em;
        background-color: #fff;
        border: 3px solid #000;
        padding: 2% 0 2% 5% ;
        position: relative;
        @include responsive(tablet) {
            font-size: 5em;
            -webkit-text-stroke-width: 1px;
            margin-top: 5%;
        }
        @include responsive(notebook) {
            font-size: 7em;
            -webkit-text-stroke-width: 1px;
            margin-top: 5%;
        }
        &::after{
            content: '';
            height: 80%;
            background: url(../image/webtitle.png) no-repeat center;
            background-size: contain;
            width: 30%;
            position: absolute;
            right: 4%;
            top: 50%;
            transform: translateY(-50%);
            @include responsive(tablet) {
                left: 15%;
            }
        }
    }
    .info{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        background-color: #fff;
        border: 3px solid #000;
        @include responsive(tablet) {
            flex-direction: row;
        }

        .content-box {
            @include responsive(tablet) {
                width: 50%;
                background-color: #fff;
                border-right: 3px solid #000;
                &:nth-child(even){
                    border-right: 0;
                }
            }
            h3 {
                font-size: 1.3em;
                margin: 2% 3%;
                @include responsive(tablet) {
                    font-size: 1.9em;
                    width: 80%;
                }
                @include responsive(desktop) {
                    font-size: 2.5em;
                    width: 90%;
                    margin: 10% 2%;
                }
            }
            ul {
                padding: 3%;
                @include responsive(desktop) {
                    padding: 2%;
                }
                li{
                    font-size: 1.2em;
                    margin-bottom: 3%;
                    @include responsive(tablet) {
                        font-size: 1.3em;
                        margin-bottom: 5%;
                    }
                    @include responsive(desktop) {
                        font-size: 1.5em;
                        margin-bottom: 10%;
                    }
                }
            }
            .button-box {
                display: flex;
                justify-content: space-around;
                @include responsive(tablet) {
                    justify-content:center;
                    margin-top: 15%;
                }
                button{
                    padding: 1% 3%;
                    margin-bottom: 2%;
                    background:none;
                    border-radius: 5px;
                    transition: all 0.1s ease-in;
                    @include responsive(tablet) {
                        margin-right: 10%;
                    }
                    &:hover{
                        background-color: #999;
                    }
                    a{ 
                        font: {
                            size: 1.2em;
                            family: 'yoonche';
                            weight: 600;
                        }
                        @include responsive(tablet) {
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
        .img-box {
            width: 100%;
            @include responsive(tablet) {
                margin-top: 5%;
            }
            img{
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                @include responsive(tablet) {
                    width: 90%;
                }
            }
        }
    }
}

section.everland {
    background: url(../image/profile-bg.png) no-repeat center center;
    background-size: cover;

    .info{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 3px solid #000;
        @include responsive(tablet) {
            flex-direction: row;
        }
    }
    .content-box{
        border-top: 3px solid #000;
        @include responsive(tablet) {
            border-right: 0;
            border-left: 3px solid #000;
        }
    }
}

section.java {
    h2 {
        &::after{
            content: '';
            height: 80%;
            background: url(../image/free-icon-java-script-721791.png) no-repeat center;
            background-size: contain;
            width: 40%;
            position: absolute;
            right: -5%;
            top: 50%;
            transform: translateY(-50%);
            @include responsive(tablet) {
                left: 29%;
            }
        }
    }
    .img-box{
        max-height: 200px;
        overflow: hidden;
        border-bottom: 1px solid #000;
        @include responsive(tablet) {
            height: 300px;
        }
        @include responsive(notebook) {
            max-height: 400px;
        }
        @include responsive(desktop) {
            max-height: 450px;
            height: 900px;
        }
        img{
            width: auto;
            height: 100%;
        }
    }
    .button-box {
        button{
            @include responsive(tablet) {
                margin: 0;
            }
        }
    }
}

section.react{
    h2 {
        margin-top: 0;
        &::after{
            content: '';
            height: 80%;
            background: url(../image/pngwing.com\ \(1\).png) no-repeat center;
            background-size: contain;
            width: 40%;
            position: absolute;
            right: 4%;
            top: 50%;
            transform: translateY(-50%);
            @include responsive(tablet) {
                left: 10%;
            }
        }
    }
}


section.contact{
    background:url(../image/contact-bg.png) no-repeat center;
    background-size: cover;
    position: relative;

    .wrapper{
        margin-top: -10%;
        @include responsive(tablet){
            margin-top: 0;
        }
    }

    h2 {
        @include hn-eng();
        text-align: center;
        font-size: 5em;
        @include responsive(tablet){
            font-size: 7em;
        }
    }
    .content-box{
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        padding:5%;
        border: 3px solid #000;
        box-shadow: 10px 10px #666;
        @include responsive(notebook){
            padding: 5% 10%;
        }
        .email-textbox{
            display: flex;
            flex-direction: column;
            @include responsive(tablet){
                flex-direction: row;
                justify-content: space-between;
            }
            .email{
                display: flex;
                flex-direction: column;
                @include responsive(tablet){
                    flex-direction: column;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    input,
                    label{
                        font-size: 1.2em;
                        font-weight: 400;
                        margin-bottom: 1%;
                        @include responsive(tablet){
                            font-size: 1.6em;
                            width: 90%;
                            margin-bottom: 3vh;
                        }
                        @include responsive(notebook){
                            font-size: 1.6em;
                            width: 100%;
                            margin-bottom: 3vh;
                        }
                    }
                    input{
                        border: 3px solid #000;
                        padding: 1%;
                    }
                    @include responsive(tablet){
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
            .textarea{
                label{
                    font-size: 1.2em;
                    font-weight: 400;
                    margin-bottom: 4%;
                    @include responsive(tablet){
                        font-size: 1.7em;
                    }
                }
                textarea{
                    font-size: 1.2em;
                    width: 100%;
                    border: 3px solid #000;
                    padding: 1%;
                    @include responsive(tablet){
                        font-size: 1.7em;
                    }
                }
            }
        }
        .sns{
            display: flex;
            justify-content: space-between;
            button{
                background: none;
                border: 0;
            }
            @include responsive(tablet){
                margin-top: -10%;
                width: 35%;
            }
            @include responsive(notebook){
                margin-top: -10%;
                width: 30%;
            }
        }
    }
    #top-btn{
        position: absolute;
        width: 70px;
        height: 70px;
        top: 17vh;
        right: 0;
        border-radius: 50%;
        border: 3px solid #000;
        font : {
            size: 1.2em;
            weight: bold;
        }
        @include responsive(tablet){
            top: 16vh;
            right: 10%;
        }       
        @include responsive(notebook){
            top: 22vh;
        }
        @include responsive (desktop){
            right: 10%;
            width: 100px;
            height: 100px;
            top: 50%;
            transform: translateY(-50%);
            font : {
                size: 1.5em;
                weight: bold;
            }
        }
    }
    #modal{
        display: none;
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        background-color: #99999950;
        z-index: 99999;
        img{
            height: 80%;
            position: absolute;
            left: 50%;
            top:50%;
            transform: translate(-50%, -50%);
        }
        button{
            position: absolute;
            left: 50%;
            bottom: 2%;
            transform: translateX(-50%);
            font-size: 2em;
        }
    }
}

footer{
    padding: 0 5%;
    height: 30px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(29, 29, 29, 0.758);
    @include responsive(desktop){
        height: 40px;
    }
    span{
    line-height: 30px;
        color: #fff;
        font-size: 0.7em;
        @include responsive(tablet){
            font-size: 1em;
        }
        @include responsive(desktop){
            font-size: 1.5em;
        }
    }
    h1 {
        height: 100%;
        img{
            height: 100%;
        }
    }
}

