@import "./reset.scss";
@import "./style.scss";
@import "./mixin.scss";

$header-px: 156px;

@keyframes updown {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40%);
    }
    to {
        transform: translateY(0);
    }
}

.wrapper {
    width: 100%;
    max-width: $gird-size;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

section {
    padding-top: $header-px;
    width: 100%;
    height: 100vh;
}

button {
    cursor: pointer;
}

/* Header Styles */
header {
    width: 100%;
    max-width: $gird-size;
    height: $header-px;
    z-index: 999;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    .flex-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 30px 10px;

        .hambuger-btn {
            display: block;
            width: 40px;
            right: 20%;

            div {
                width: 100%;
                height: 5px;
                background-color: $white;
                margin-top: 10px;
            }

            @include responsive(medium-screens) {
                display: none;
            }
        }

        .menu-box {
            display: none;
            background-color: rgb(56, 127, 189);
            padding: 5% 0;
            position: absolute;
            top: 0;
            right: 0;
            width: 70%;
            height: 100vh;

            @include responsive(medium-screens) {
                display: block;
                position: static;
                background: none;
                width: auto;
                height: auto;
            }

            .hambuger-btn {
                margin-left: 30px;

                @include responsive(medium-screens) {
                    display: none;
                }
            }

            .gnb {
                margin-top: 100px;

                @include responsive(medium-screens) {
                    margin-top: 0;
                    display: flex;
                }

                li {
                    padding: 15px 30px;
                    position: relative;
                    border-bottom: 5px solid #fff;

                    @include responsive(medium-screens) {
                        padding: 0;
                        margin-right: 30px;
                        border: 0;
                    }

                    a {
                        width: 100%;
                        position: relative;
                        z-index: 2;

                        font: {
                            size: 2em;
                            family: 'Tium';
                        }

                        color: rgb(255, 255, 255);
                        transition: all 0.5s ease-in-out;

                        @include responsive(medium-screens) {
                            transition: none;
                        }
                    }

                    &::before {
                        content: "";
                        width: 0;
                        height: 100%;
                        background-color: #fff;
                        z-index: 0;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: all 0.4s ease-in-out;

                        @include responsive(medium-screens) {
                            width: 0;
                            height: 5px;
                        }
                    }

                    &:hover::before {
                        width: 100%;
                    }

                    &:hover a {
                        color: rgb(56, 127, 189);

                        @include responsive(medium-screens) {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

/* Main Styles */
.title {
    position: relative;
    overflow: hidden;

    .title-bg {
        position: absolute;
        @include center-pos1();
        height: 200%;
    }

    h2 {
        @include center-pos2();
        width: 90%;

        font: {
            size: 10vw;
            family: $hn-ko;
        }

        text: {
            align: center;
            shadow: 15px 15px 15px #6666668c;
        }

        line-height: 1.5em;
        color: $white;

        @include responsive(medium-screens) {
            font-size: 6vw;
        }

        @include responsive(medium-screens) {
            font-size: 8vw;
        }

        // PC
        @include responsive(large-screens) {
            font-size: 6vw;
        }
    }
}

/* About Me Styles */
section.about-me {
    width: 100%;
    padding: 0;
    .wrapper {
        .sub-list {
            position: fixed;
            width: 90%;
            top: 15%;
            left: 50%;
            transform: translate(-50%);
            display: grid;
            grid-template-columns: repeat(4, 1fr); 
            grid-column-gap: 10%;
            z-index: 99;
            background-color: $white;
            padding: 3% 2%;
            border-radius: 10px;
            border: 5px solid $black;
            @include responsive(large-screens){
                width: max-content;
                display: block;
                border: 0;
                background: none;
                left: 2%;
                top: 50%;
                transform: translateY(-50%);
            }

            li {
                width: 100%;
                color: #fff;
                // list-style-position: inside;
                // list-style: disc;
                text-align: center;
                &:hover a::after{
                    height: 100%;
                }
                @include responsive(large-screens) {
                    list-style-position: inside;
                    list-style: disc;
                    font-size: 1.5em;
                    margin-bottom: 20px;
                }
                a {
                    position: relative;
                    font: {
                        size: 1.5em;
                        family: $hn-eng
                    }
                    color: $black;
                    &::after{
                        content: '';
                        width: 5px;
                        height: 0;
                        position: absolute;
                        background-color: #000000;
                        margin-left: 10px;
                        transition: all 0.5s ease-in-out;
                        @include responsive(large-screens) {
                            background-color: #fff;
                            width: 10px;
                            bottom: 0;
                        }
                    }
                    @include responsive(large-screens) {
                        color: #fff;
                    }
                }
            }
        }
    }

    .slide-box {
        .flex-box {
            width: 400%;
            display: flex;
            justify-content: space-between;

            .info {
                padding-top: $header-px;
                width: (400% / 4);
                height: 100vh;
                background: url(../image/about-bg.png) no-repeat bottom right;
                background-size: cover;

                .grid-box {
                    display: grid;
                    grid-template-columns: 3fr 9fr;
                    grid-column-gap: 40px;

                    .about-title {
                        position: relative;

                        h2 {
                            position: absolute;
                            top: 11vmin;
                            width: max-content;
                            @include hn-eng();
                            font-size: 20vmin;
                            @include responsive(medium-screens) {
                                font-size: 8em;
                            }
                            @include responsive(large-screens) {
                                font-size: 12em;
                            }

                            // 첫 번째 h2 요소에 대한 스타일
                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: -100%;
                                @include borderblack();
                                width: 100%;
                                height: 100%;
                                background-color: $white;
                                z-index: 3;
                            }
                        }
                    }

                    .yellow-box {
                        width: 100%;
                        height: 90%;
                        margin-top: 10vmin;
                        background-color: $skill-bg;
                        border-radius: 10px;
                        box-shadow: 10px 10px 5px #101010a3;
                        padding: 10% 3% 1% 10%;
                        @include borderblack();

                        .btn-area {
                            width: 8%;
                            position: absolute;
                            right: 5%;
                            top: 20%;
                            transform: translateY(-20%);
                            z-index: 4;

                            button {
                                width: 100%;
                                height: max-content;
                                background: none;
                                border: 0;

                                &:hover img:last-child {
                                    transform: translate(50%, 10%);
                                }

                                img {
                                    width: 100%;
                                    &:first-child {
                                        left: 0;
                                        top: 0;
                                        transform: translateY(80%);
                                    }
                                    &:last-child {
                                        width: 80%;
                                        top: 0;
                                        left: 0;
                                        transform: translate(-30%, 10%);
                                        transition: all 0.5s ease-in-out;
                                    }
                                }
                            }
                        }

                        .content-box {
                            margin-top: 15%;
                            position: relative;
                            z-index: 3;
                            padding: 3%;
                            background-color: #666;
                            @include borderblack();

                            h3 {
                                color: #fff;
                                font-size: 5vmin;
                                margin-bottom: 5%;
                            }

                            li {
                                color: #fff;
                                font-size: 3vmin;
                                margin-top: 3vmin;
                            }
                        }
                    }
                }

                .btn {
                    position: absolute;
                    bottom: 5%;

                    button {
                        background: none;
                        border: 0;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            opacity: 0.5;
                        }

                        img {
                            width: 100%;
                            animation: updown 1s infinite;
                        }
                    }
                }
                @for $i from 2 through 4 {
                    &:nth-child(#{$i}) {
                        .about-title {
                            position: relative;
                            flex-direction: column;
                            height: 100%;

                            h2 {
                                position: absolute;
                                top: 7vmin;
                                width: max-content;
                                @include hn-eng();
                                font-size: 20vmin;

                                // 첫 번째 h2 요소에 대한 스타일
                                &::after {
                                    content: '';
                                    position: absolute;
                                    left: -20%;
                                    bottom: -10%;
                                    @include borderblack();
                                    width: 120%;
                                    height: 10%;
                                    background-color: $white;
                                    z-index: 3;
                                }
                            }
                            img {
                                position: absolute;
                                left: 50%;
                                width: 70%;
                                bottom: 10%;
                                transform: translateX(-50%);
                            }
                        }

                        .yellow-box {
                            width: 100%;
                            min-height: 90%;
                            margin-top: 10vmin;
                            background-color: $skill-bg;
                            border-radius: 10px;
                            box-shadow: 10px 10px 5px #101010a3;
                            padding: 0 4% 1% 10%;
                            @include borderblack();

                            .content-box {
                                position: relative;
                                margin-top: 5%;
                                margin-left: 5%;
                                padding: 0;
                                background: none;
                                border: 0;
                                display: flex;
                                flex-direction: column;
                                align-items: stretch;
                                z-index: 3;
                                h3 {
                                    width: fit-content;
                                    color: #fff;
                                    font-size: 5vmin;
                                    margin-bottom: 5%;
                                    padding: 1%;
                                    @include borderblack();
                                    background-color: #666;
                                }

                                p {
                                    padding: 5%;
                                    background-color: $white;
                                    @include borderblack();
                                    font-size: 2.5vmin;
                                }
                            }
                        }
                        .btn {
                            position: absolute;
                            bottom: -10%;
                            button {
                                background: none;
                                border: 0;
                                transition: all 0.2s ease-in-out;
        
                                &:hover {
                                    opacity: 0.5;
                                }
        
                                img {
                                    width: 100%;
                                    animation: updown 1s infinite;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Skills Styles */
.skills {
    background: url(../image/skill-bg.png) no-repeat center bottom;
    background-size: cover;

    .flex-box {
        @include flex();

        h2 {
            @include hn-eng();
            font-size: 22vmin;
        }

        button {
            background: none;
            border: 0;
        }
    }

    hr {
        @include borderblack();
        padding: 0.5%;
        background-color: $white;
        margin: 1% 0 3% 0;
    }

    .skills-info {
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        border: 5px solid $black;
        padding: 8% 3%;
        border-radius: 15px;
        box-shadow: 15px 15px #00000086;

        button {
            background: none;
            border: 0;
            cursor: pointer;
        }

        .slide-box {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            height: 10%;
            overflow: hidden;
            grid-column-gap: 5%;
            align-items: center;

            li {
                margin: 0 auto;

                img {
                    height: 100%;
                }
            }
        }
    }
}
