* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: yoon-a-yoonche, sans-serif;
    font-weight: 200;
    font-style: normal;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color:#000;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

section,
article,
main,
header,
footer,
img
nav,
aside {
    display: block;
}

$break-small: 320px;
$break-medium: 768px;
$break-large: 1024px;